@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 65vh;
    background-color: #1F2937;
}


.primary-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
   padding: 10px;
}

.header-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    margin-left: 170px;
    margin-right: 160px;
    gap: 3em;
}

.header-main-text {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: 1200px;
}

.header-image {
    color: royalblue;
  /* font-size: 26px; */
  /* font-weight: 700; */
  background: lavender;
  width: 1350px;
  height: 220px;
  /* border-radius:  */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

button {
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
}

.sign-up-btn {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}

.random-info-div{
    text-align: center;
    margin-top: 32px;
}

.info-conatiner {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 4em;
}

.info-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    justify-content: center;
}

.info-box {
    width: 150px;
    height: 150px;
    border: solid #3882f6 4px;
    border-radius: 1em;
    margin-bottom: 10px;
}

.info-head-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
}